@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    font-family: 'Google Sans Code';

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #0f1115;
    color: #ffffff;
    font-size: 14px;
}

code,
pre,
textarea {
    font-family: 'Google Sans Code';
    font-weight: 600;
}

* {
    box-sizing: border-box;
}