@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600;700&display=swap');

body {
    margin: 0;
    font-family: 'Pixelify Sans', 'Courier New', monospace;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
    background-color: #0f1115;
    color: #ffffff;
}

code,
pre,
textarea {
    font-family: 'Pixelify Sans', 'Courier New', monospace;
}

* {
    box-sizing: border-box;
}